.container {
    width: 1030px;
    margin-left: auto;
    margin-right: auto;
}
.background {
    background-image: url(../image/background.png) ;
    background-repeat: no-repeat;
    background-size: 100%;
}
.header-content {
padding-top: 50px;
}
.intro {
    display: flex;
    position: relative;
}
.intro-logo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;

    color: #FFFFFF; 
}
.logo-image {
    margin-right: 8px;
  
}

.logo-image-orange {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.logo-text {
    position: absolute;
    font-size: 29px;
    line-height: 29px;

}
.logo-text2 {
    font-size: 18px;
    line-height: 18px; 

}
.intro-logo:hover .logo-image-orange {
    display: block;
}
.intro-logo:hover .text {
    color: #F26522;
}

.contacts {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;

    color: #FFFFFF;
}
.mail {
    position: absolute;
    right: 0;
    top: 0;
   
}
.phone {
    position: absolute;
    right: 0;
    bottom: 0;

}  
.contacts:hover {
    color: #F26522;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    row-gap: 80px;
    column-gap: 60px;
    padding-inline-start: 0; 
    list-style-type: none;   
   
}

.item {
    position: relative;
    text-align: center;
    width: 300px;
    height: 220px;
    }

.box-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;  
}

.main-image {
    margin-bottom: 20px;
}

.hover-orange {
    display: none;
    position: absolute;
    height: 55px;
    width: 300px;
    left: 0;
    bottom: 0;
    background-color: #F26522;
}

.orange-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF; 
}

.text-left {
    display: flex;
    justify-content: left;
    font-size: 10px;
    line-height: 10px;
    padding-top: 10px;
    padding-left: 10px;
}

.text-bottom {
    font-size: 20px;
    line-height: 20px;  
    padding-top: 5px;
    padding-left: 10px;
}

.text-right {
    font-size: 14px;
    line-height: 14px;  
    align-self: flex-end;
    padding-right: 15px;

} 
.text-container{
    display: flex;
    justify-content: space-between;
}


.text-right::after {
    content:url(../image/Vector.svg)   
}

.item:hover .box-text {
    color: #F26522;
}
.item:hover .hover-orange{
    display: block;
}


.footer-content {
    align-items: center;
    text-align: center;
}
.footer-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;

    color: #FFFFFF;
    margin-top: 70px;
}
